In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
url = 'https://en.wikipedia.org/wiki/Main_Page'
response = requests.get(url)
if response.status_code == 200:
    soup = BeautifulSoup(response.text, 'html.parser')
    header_tags = soup.find_all(['h1', 'h2', 'h3', 'h4', 'h5', 'h6'])
    header_text = [tag.text.strip() for tag in header_tags]
    df = pd.DataFrame({'Header': header_text})
    print(df)
else:
    print('Failed to retrieve the webpage.')

                          Header
0                      Main Page
1           Welcome to Wikipedia
2  From today's featured article
3               Did you knowÂ ...
4                    In the news
5                    On this day
6       Today's featured picture
7       Other areas of Wikipedia
8    Wikipedia's sister projects
9            Wikipedia languages

In [2]:
url = "https://currentaffairs.adda247.com/list-of-presidents-of-india/"
response = requests.get(url)
if response.status_code == 200:
    soup = BeautifulSoup(response.text, 'html.parser')
    table = soup.find('table')
    names = []
    terms_of_office = []
    for row in table.find_all('tr')[1:]: 
        columns = row.find_all('td')
        name = columns[0].text.strip()
        term_of_office = columns[1].text.strip() 
        names.append(name)
        terms_of_office.append(term_of_office)
    df = pd.DataFrame({'Name': names, 'Term of Office': terms_of_office})
    print(df)
else:
    print("Failed to retrieve the webpage. Status code:", response.status_code)

                            Name   Term of Office
0                     Start Date     Closing date
1            Dr. Rajendra Prasad  26 January 1950
2   Dr. Sarvepalli Radhakrishnan      13 May 1962
3              Dr. Zakir Hussain      13 May 1967
4        Varahagiri Venkata Giri       3 May 1969
5        Varahagiri Venkata Giri   24 August 1969
6           Fakhruddin Ali Ahmed   24 August 1974
7           Neelam Sanjiva Reddy     25 July 1977
8               Giani Zali Singh     25 July 1982
9         Ramaswamy Venkataraman     25 July 1987
10          Shankar Dayal Sharma     25 July 1992
11      Kocheril Raman Narayanan     25 July 1997
12        Dr. A.P.J. Abdul Kalam     25 July 2002
13                Pratibha Patil     25 July 2007
14              Pranab Mukherjee     25 July 2012
15          Shri Ram Nath Kovind     25 July 2017
16                Draupadi Murmu     21 July 2022

In [3]:
url = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'
response = requests.get(url)
if response.status_code == 200:
    df = pd.read_html(response.text)[0]
    top_10_teams = df.iloc[:10, [1, 2, 3, 4]]
    print(top_10_teams)
else:
    print('Failed to retrieve the webpage.')

            Team  T  Matches  M  Points  P  Rating  R
0     Pakistan  PAK          27       3102        115
1        India  IND          41       4701        115
2    Australia  AUS          28       3166        113
3  South Africa  SA          24       2551        106
4      England  ENG          28       2942        105
5   New Zealand  NZ          31       3110        100
6   Bangladesh  BAN          33       3107         94
7     Sri Lanka  SL          38       3512         92
8  Afghanistan  AFG          21       1687         80
9   West Indies  WI          38       2582         68

In [4]:
url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting'
response = requests.get(url)
if response.status_code == 200:
    df = pd.read_html(response.text)[0]
    top_10_batsmen = df.iloc[:10, [1, 2, 3]]
    print(top_10_batsmen)
else:
    print('Failed to retrieve the webpage.')

                  Player Team  Rating
0             Babar Azam  PAK     863
1           Shubman Gill  IND     759
2  Rassie van der Dussen   SA     745
3           David Warner  AUS     739
4            Imam-ul-Haq  PAK     735
5           Harry Tector  IRE     726
6        Quinton de Kock   SA     721
7            Virat Kohli  IND     715
8           Rohit Sharma  IND     707
9           Fakhar Zaman  PAK     705

In [5]:
url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling'
response = requests.get(url)
if response.status_code == 200:
    df = pd.read_html(response.text)[0]
    top_10_bowlers = df.iloc[:10, [1, 2, 3]]
    print(top_10_bowlers)
else:
    print('Failed to retrieve the webpage.')

             Player Team  Rating
0    Josh Hazlewood  AUS     692
1    Mitchell Starc  AUS     666
2       Trent Boult   NZ     666
3        Adam Zampa  AUS     663
4        Matt Henry   NZ     658
5  Mujeeb Ur Rahman  AFG     657
6     Kuldeep Yadav  IND     656
7       Rashid Khan  AFG     655
8    Mohammed Siraj  IND     643
9    Shaheen Afridi  PAK     635

In [6]:
url = 'https://www.icc-cricket.com/rankings/womens/team-rankings/odi'
response = requests.get(url)
if response.status_code == 200:
    df = pd.read_html(response.text)[0]
    top_10_teams = df.iloc[:10, [1, 2, 3, 4]]
    print(top_10_teams)
else:
    print('Failed to retrieve the webpage.')

            Team  T  Matches  M  Points  P  Rating  R
0    Australia  AUS          26       4290        165
1      England  ENG          31       3875        125
2  South Africa  SA          26       3098        119
3        India  IND          30       3039        101
4   New Zealand  NZ          28       2688         96
5   West Indies  WI          29       2743         95
6   Bangladesh  BAN          17       1284         76
7     Sri Lanka  SL          12        820         68
8     Thailand  THA          13        883         68
9     Pakistan  PAK          27       1678         62

In [7]:
url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"
response = requests.get(url)
if response.status_code == 200:
    soup = BeautifulSoup(response.text, 'html.parser')
    players = []
    teams = []
    ratings = []
    player_elements = soup.find_all('tr', class_='table-body')
    for player_element in player_elements[:10]: 
        player = player_element.find('td', class_='table-body__cell rankings-table__name name').get_text(strip=True)
        team = player_element.find('span', class_='table-body__logo-text').get_text(strip=True)
        rating = player_element.find('td', class_='table-body__cell rating').get_text(strip=True)
        players.append(player)
        teams.append(team)
        ratings.append(rating)
    df = pd.DataFrame({
        'Player': players,
        'Team': teams,
        'Rating': ratings
    })
    print(df)

else:
    print("Failed to retrieve the webpage.")

                Player Team Rating
0          Beth Mooney  AUS    751
1  Chamari Athapaththu   SL    743
2      Laura Wolvaardt   SA    708
3      Smriti Mandhana  IND    708
4         Alyssa Healy  AUS    702
5     Harmanpreet Kaur  IND    694
6         Ellyse Perry  AUS    686
7          Meg Lanning  AUS    682
8      Stafanie Taylor   WI    618
9       Marizanne Kapp   SA    617

In [8]:
url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"
response = requests.get(url)
if response.status_code == 200:
    soup = BeautifulSoup(response.text, 'html.parser')
    players = []
    teams = []
    ratings = []
    player_elements = soup.find_all('tr', class_='table-body')
    for player_element in player_elements[:10]:  
        player = player_element.find('td', class_='table-body__cell rankings-table__name name').get_text(strip=True)
        team = player_element.find('span', class_='table-body__logo-text').get_text(strip=True)
        rating = player_element.find('td', class_='table-body__cell rating').get_text(strip=True)
        players.append(player)
        teams.append(team)
        ratings.append(rating)
    df = pd.DataFrame({
        'Player': players,
        'Team': teams,
        'Rating': ratings
    })
    print(df)

else:
    print("Failed to retrieve the webpage.")

              Player Team Rating
0   Ashleigh Gardner  AUS    389
1    Hayley Matthews   WI    382
2     Marizanne Kapp   SA    362
3       Ellyse Perry  AUS    329
4        Amelia Kerr   NZ    328
5      Deepti Sharma  IND    312
6      Jess Jonassen  AUS    241
7      Sophie Devine   NZ    233
8           Nida Dar  PAK    217
9  Sophie Ecclestone  ENG    196

In [9]:
url = "https://www.cnbc.com/world/?region=world"
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

headlines = []
for headline in soup.find_all("h3"):
    headlines.append(headline.text.strip())

df = pd.DataFrame({"Headline": headlines})
print(df)

             Headline
0       Market MOVERS
1         Most Active
2      Unusual Volume
3  Latest Market News
4     Special Reports

In [10]:
url = "https://www.cnbc.com/world/?region=world"
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

times = []
for time in soup.find_all("time"):
    times.append(time.text.strip())

df = pd.DataFrame({"Time": times})
print(df)

                  Time
0           27 Min Ago
1           1 Hour Ago
2          3 Hours Ago
3          4 Hours Ago
4          4 Hours Ago
5          5 Hours Ago
6          5 Hours Ago
7          5 Hours Ago
8          5 Hours Ago
9          6 Hours Ago
10         6 Hours Ago
11        23 Hours Ago
12        23 Hours Ago
13  September 16, 2023
14  September 16, 2023
15  September 16, 2023
16  September 16, 2023
17  September 16, 2023
18  September 16, 2023
19  September 16, 2023
20  September 16, 2023
21  September 16, 2023
22  September 16, 2023
23  September 16, 2023
24  September 16, 2023
25  September 15, 2023
26  September 15, 2023
27  September 15, 2023
28  September 15, 2023
29  September 15, 2023

In [11]:
url = "https://www.cnbc.com/world/?region=world"
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

links = []
for link in soup.find_all("a", class_="Card-title"):
    news_link = link.get("href")
    if news_link and news_link.startswith("https://www.cnbc.com"):
        links.append(news_link)

df = pd.DataFrame({"News Link": links})
print(df)

                                            News Link
0   https://www.cnbc.com/2023/09/17/one-individual...
1   https://www.cnbc.com/2023/09/16/stocks-churn-w...
2   https://www.cnbc.com/2023/09/15/the-fed-is-exp...
3   https://www.cnbc.com/2023/09/15/fortinet-and-m...
4   https://www.cnbc.com/2023/09/17/chinas-ai-appl...
5   https://www.cnbc.com/2023/09/17/buffett-calls-...
6   https://www.cnbc.com/2023/09/17/one-individual...
7   https://www.cnbc.com/2023/09/17/its-been-one-y...
8   https://www.cnbc.com/2023/09/16/analysts-raisi...
9   https://www.cnbc.com/2023/09/16/us-ambassador-...
10  https://www.cnbc.com/2023/09/16/poland-hungary...
11  https://www.cnbc.com/2023/09/15/spacex-starlin...
12  https://www.cnbc.com/2023/09/15/live-updates-l...
13  https://www.cnbc.com/2023/09/15/is-russia-a-ro...
14  https://www.cnbc.com/2023/09/14/shipping-giant...
15  https://www.cnbc.com/2023/09/08/climate-un-rep...
16  https://www.cnbc.com/video/2023/09/14/countrie...
17  https://www.cnbc.com/video/2023/09/14/we-have-...
18  https://www.cnbc.com/video/2023/09/14/700-bill...
19  https://www.cnbc.com/2023/09/13/thai-hospitali...
20  https://www.cnbc.com/video/2023/09/11/middle-e...
21  https://www.cnbc.com/2023/09/05/asean-at-a-los...
22  https://www.cnbc.com/video/2023/09/11/yoma-str...
23  https://www.cnbc.com/video/2023/09/04/philippi...
24  https://www.cnbc.com/2023/09/15/digital-nomads...
25  https://www.cnbc.com/2023/09/13/new-tax-to-vis...
26  https://www.cnbc.com/video/2023/09/11/watch-a-...
27  https://www.cnbc.com/2023/09/08/where-to-stay-...
28  https://www.cnbc.com/2023/09/07/great-wall-of-...
29  https://www.cnbc.com/2023/09/17/this-is-the-no...
30  https://www.cnbc.com/2023/09/17/rachel-jimenez...
31  https://www.cnbc.com/2023/09/17/these-are-the-...
32  https://www.cnbc.com/2023/09/16/4-things-the-w...
33  https://www.cnbc.com/2023/09/16/how-olipops-fo...

In [12]:
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")
table = soup.find("table")
titles = []
authors = []
sales = []
for row in table.find_all("tr")[1:]:
    columns = row.find_all("td")
    if len(columns) >= 4:
        title = columns[1].text.strip()
        titles.append(title)
        author = columns[2].text.strip()
        authors.append(author)
        sale = columns[3].text.strip()
        sales.append(sale)
data = {
    "Title": titles,
    "Author(s)": authors,
    "Sales": sales
}
df = pd.DataFrame(data)
print(df)

                                                Title         Author(s)  \
0                                   Da Vinci Code,The        Brown, Dan
1                Harry Potter and the Deathly Hallows     Rowling, J.K.
2            Harry Potter and the Philosopher's Stone     Rowling, J.K.
3           Harry Potter and the Order of the Phoenix     Rowling, J.K.
4                                Fifty Shades of Grey      James, E. L.
..                                                ...               ...
95                                          Ghost,The    Harris, Robert
96                     Happy Days with the Naked Chef     Oliver, Jamie
97              Hunger Games,The:Hunger Games Trilogy  Collins, Suzanne
98  Lost Boy,The:A Foster Child's Search for the L...      Pelzer, Dave
99  Jamie's Ministry of Food:Anyone Can Learn to C...     Oliver, Jamie

        Sales
0   5,094,805
1   4,475,152
2   4,200,654
3   4,179,479
4   3,758,936
..        ...
95    807,311
96    794,201
97    792,187
98    791,507
99    791,095

[100 rows x 3 columns]